<div [ngClass]="{ priority: task.priority}" class="taskItem" (dblclick)="handleTaskClick(task)">

    <div class="taskItem__header">
        <div class="taskItem__icons">
            <mat-icon [ngClass]="{ color_red: task.priority}" (click)="handlePriority(task)">bolt</mat-icon>
        </div>
        <div class="taskItem__title">{{task.title}}</div>
        <div class="taskItem__icons">
            <mat-icon (click)="handleDeleteTask(task)">delete</mat-icon>
        </div>
    </div>

    <p class="taskItem__description">{{task.description}}</p>

    <div class="taskItem__grid">
        <div class="taskItem__bottom">
            <p class="taskItem__p">Assignee:</p>
            <p class="taskItem__p">{{task.assignee}}</p>
        </div>
        <div class="taskItem__bottom">
            <p class="taskItem__p">Deadline:</p>
            <p class="taskItem__p">{{formatDeadline(task.deadline)}}</p>
        </div>
    </div>

</div>