<header class="header">
    <div class="filter">
        <div class="filter__title">Filter by:</div>
        <div class="filter__btnbox">
            <div class="btnInput">
                <input id="status" type="radio" name="radio" value="status" [(ngModel)]="filter"
                    (change)="onFilterChange('status')">
                <label for="status">status</label>
            </div>
            <div class="btnInput">
                <input id="assignee" type="radio" name="radio" value="assignee" [(ngModel)]="filter"
                    (change)="onFilterChange('assignee')">
                <label for="assignee">assignee</label>
            </div>
            <div class="btnInput">
                <input id="deadline" type="radio" name="radio" value="deadline" [(ngModel)]="filter"
                    (change)="onFilterChange('deadline')">
                <label for="deadline">deadline</label>
            </div>
        </div>
    </div>

    <div class="hints">
        <div class="hints__title">Hints:</div>
        <div class="hints__content">
            <div class="hints__item">&#8269; Double-click on the task to edit it.</div>
            <div class="hints__item">&#8269; Click on the <mat-icon>bolt</mat-icon> icon to toggle priority.</div>
            <div class="hints__item">&#8269; Click on the trash icon to delete the task.</div>
        </div>
    </div>
</header>


<div class="taskColumns">
    <div *ngFor="let filterValue of keys(filteredTasks)" class="taskColumns__item">
        <h3 class="taskColumns__title">{{ isDeadlineFilter() ? formatDate(filterValue) : filterValue }}</h3>
        <app-task-item class="taskColumns__component" *ngFor="let task of filteredTasks[filterValue]" [task]="task"
            (deleteTask)="deleteTask(task)" (togglePriority)="togglePriority(task)">
            <mat-divider></mat-divider>
        </app-task-item>
    </div>
</div>