<mat-toolbar color="primary">

  <a mat-button routerLink="/" class="btn"> Home </a>
  <a mat-button routerLink="/new-task" class="btn"> New Task </a>

  <!-- list of users -->
  <a mat-button routerLink="/users" class="btn"> Users </a>

  <!-- link displays if user is NOT signed in -->
  <a mat-button routerLink="/signin" class="btn"> !Sign In! </a>
  <!-- link displays if user not signed in -->
  <a mat-button routerLink="/user" class="btn"> !user! </a>

</mat-toolbar>


<!-- <div class="container"> -->
<div>

  <router-outlet></router-outlet>

</div>


<!-- <app-header></app-header> -->

<!-- <app-tasks></app-tasks> -->