<div class="taskContainer">

    <h1 class="taskContainer__title">Create new task</h1>

    <form class="taskForm" (ngSubmit)="onSubmit()">

        <div class="taskForm__column">
            <!-- TITLE -->
            <div class="taskForm__item">
                <label class="taskForm__label" for="title">Task name</label>
                <input class="taskForm__input" type="text" name="title" id="title" placeholder="add task name"
                    [(ngModel)]="title">
            </div>

            <!-- DESCRIPTION -->
            <div class="taskForm__item">
                <label class="taskForm__label" for="description">Task description</label>
                <textarea class="taskForm__input taskForm__input_textarea" name="description" id="description"
                    placeholder="add task description" [(ngModel)]="description"></textarea>
            </div>
        </div>

        <div class="taskForm__column">

            <!-- DEADLINE -->
            <div class="taskForm__item">
                <label class="taskForm__label" for="deadline">Deadline</label>
                <div class="taskForm__dateBox">
                    <input class="taskForm__input taskForm__input_date" matInput [matDatepicker]="deadlinePicker"
                        placeholder="select deadline" readonly [(ngModel)]="deadline">
                    <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
                    <mat-datepicker #deadlinePicker></mat-datepicker>
                </div>
            </div>

            <!-- PRIORITY -->
            <div class="taskForm__item taskForm__item_check">
                <label class="taskForm__label taskForm__label_check" for="priority">Is this task a priority?</label>
                <input type="checkbox" name="priority" id="priority" [(ngModel)]="priority">
            </div>

            <!-- STATUS -->
            <div class="taskForm__item taskForm__item_status">
                <legend class="taskForm__label">Choose status</legend>
                <div class="taskForm__statusBox">
                    <div class="btnInput">
                        <input type="radio" name="radio" id="to-do" value="TO DO" [(ngModel)]="status">
                        <label class="btnInput_task" for="to-do">To do</label>
                    </div>
                    <div class="btnInput">
                        <input type="radio" name="radio" id="in-process" value="IN PROCESS" [(ngModel)]="status">
                        <label class="btnInput_task" for="in-process">In process</label>
                    </div>
                    <div class="btnInput">
                        <input type="radio" name="radio" id="testing" value="TESTING" [(ngModel)]="status">
                        <label class="btnInput_task" for="testing">Testing</label>
                    </div>
                    <div class="btnInput">
                        <input type="radio" name="radio" id="done" value="DONE" [(ngModel)]="status">
                        <label class="btnInput_task" for="done">Done</label>
                    </div>
                </div>
            </div>

            <!-- ASSIGNEE -->
            <div class="taskForm__item">
                <label class="taskForm__label" for="assignee">Assignee</label>
                <select class="taskForm__input" name="assignee" id="assignee" [(ngModel)]="assignee">
                    <option value="">-- The Unchosen Assignee --</option>
                    <option *ngFor="let assignee of assignees" [value]="assignee.name">{{ assignee.name }}</option>
                </select>
            </div>

            <input type="submit" value="Save task" class="taskForm__item taskForm__item_btn">
        </div>

    </form>

</div>